@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    filter: invert(100%);
  }
  
  img {
    filter: invert(100%);
} */
/* with operating system time setting */
@media (prefers-color-scheme: dark) {
    html {
      filter: invert(100%);
    }
  
    img {
      filter: invert(100%);
    }
}